*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background:
    url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png");
    background-size: 120px;
    background-repeat: repeat;
    animation: moverFundo 15s linear infinite;
}

/* ANIMAÇÃO DO FUNDO */
@keyframes moverFundo{
    from{
        background-position: 0 0;
    }

    to{
        background-position: 300px 300px;
    }
}

/* CONTAINER */
.container{
    width: 350px;
    background-color: #990000;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
    text-align: center;
    box-shadow: 5px 5px 12px #99000070, -5px -5px 12px #99000070;
}

/* TITULO */
.container h1{
    margin-bottom: 20px;
    color: #cc0000;
}

/* INPUT E BOTAO */
.search-box{
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.search-box input{
    flex: 1;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
}

.search-box button{
    padding: 12px 18px;
    border: none;
    background-color: #cc0000;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.search-box button:hover{
    background-color: #6d0000;
}

/* CARD */
.card{
    background-color: #C03028;
    padding: 20px;
    border-radius: 15px;
}

/* IMAGEM */
.card img{
    width: 180px;
    height: 180px;
    object-fit: contain;
    margin-bottom: 15px;
}

/* NOME */
.card h2{
    margin-bottom: 15px;
    color: white;
    text-transform: capitalize;
}

/* INFOS */
.info{
    text-align: left;
}

.info p{
    margin: 10px 0;
    font-size: 17px;
    color: white;
}

/* TAG DO TIPO */
.tipo-badge{
    display: inline-block;
    padding: 3px 6px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    border: 2px solid #ffffff66;
}

/* CORES DOS TIPOS */
.normal{
    background-color: #A8A878;
}

.fire{
    background-color: #F08030;
}

.water{
    background-color: #6890F0;
}

.electric{
    background-color: #F8D030;
}

.grass{
    background-color: #78C850;
}

.ice{
    background-color: #98D8D8;
}

.fighting{
    background-color: #C03028;
}

.poison{
    background-color: #A040A0;
}

.ground{
    background-color: #E0C068;
}

.flying{
    background-color: #A890F0;
}

.psychic{
    background-color: #F85888;
}

.bug{
    background-color: #6B8E23;
}

.rock{
    background-color: #B8A038;
}

.ghost{
    background-color: #705898;
}

.dark{
    background-color: #705848;
}

.dragon{
    background-color: #7038F8;
}

.steel{
    background-color: #B8B8D0;
}

.fairy{
    background-color: #EE99AC;
}

/* RESPONSIVIDADE */
@media (max-width: 600px){

    body{
        padding: 20px;
        overflow-y: auto;
    }

    .container{
        width: 100%;
        max-width: 350px;
    }

    .search-box{
        flex-direction: column;
    }

    .search-box input{
        width: 100%;
    }

    .search-box button{
        width: 100%;
    }

}